# Arquivos do Cypress que não devem ser commitados
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress.config.js

# Dependências
node_modules/

# Arquivos de ambiente
.env
.env.local

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/